<div class="row">

  <div class="col-sm-12 col-md-4">
    <!-- images -->
    <% unless @document[:blob_ss].nil? %>
        <div class="show-gallery">
          <% @document[:blob_ss].each do |image| %>
            <div class="gallery-item">

              <img 
                src="<%= helpers.render_csid(image, 'Medium') %>"
                alt="<%= helpers.render_alt_text(@document) %>"
                class="show-image">
              </img>
            </div>

          <% end %>
        </div>
      <% else %>
       <p>Image not available</p>
    <% end %>
  </div>
  <!-- metadata -->
  <div class="col-12 col-md-8">
    <dl class="<%= @classes %>">
      <% @doc_presenter.fields_to_render.each do |field_name, field| -%>
        <% unless field_name == "blob_ss" %>
          <dt class="col-4 blacklight-<%= field_name.parameterize %>">
            <%= field.label %>:
          </dt>
          <dd class="col-8 blacklight-<%= field_name.parameterize %>"><%= @doc_presenter.field_value field %></dd>
        <% end %>
      <% end %>
    </dl>
  </div>

<% unless @document[:gardenlocation_s].nil? %>
  <section aria-labelledby="show-preview-title" class="row show-preview-container">
    <%= render :partial => '/catalog/show_preview', :locals => {:garden_location => @document[:gardenlocation_s]} %>
  </section>
<% end %>

