<%= content_tag 'div', class: "document-title #{unless @document[:blob_ss].nil? then 'clearfix' else '' end}" do %>
  <div class="d-inline-block pr-4 w-md-75">
    <%= content_tag @as, class: @classes do %>
      <% before_titles.each do |t| %>
        <%= t %>
      <% end %>

      <%= counter -%><%= title -%>

      <% after_titles.each do |t| %>
        <%= t %>
      <% end %>
    <% end %>
  </div>

  <div class="float-md-right pb-2 w-md-25">
    <% actions.each do |action| %>
      <%= action %>
    <% end %>
  </div>
<% end %>
